<!DOCTYPE html>
<html>
<head>
    <title>История спреда</title>
    <script src="https://unpkg.com/lightweight-charts/dist/lightweight-charts.standalone.production.js"></script>
</head>
<body>
<h2>Значения спреда:</h2>
<script>
	var chart = LightweightCharts.createChart(document.body, { width: 1200, height: 500, timeScale:{
		timeVisible:true, secondsVisible:true}});
	var barSeries = chart.addBarSeries();
	barSeries.setData([
		{% for spread_record in spread_records %}
	    	{ time: {{ spread_record[0] }},  open: {{spread_record[1]}}, high: {{spread_record[2]}}, low: {{spread_record[3]}}, close: {{spread_record[4]}} },
	   	{% endfor %} 	
	]);
	chart.timeScale().fitContent();
</script>
</body>
</html>
