<!DOCTYPE html>
<html>
<head>
    <title>История спреда</title>
    <script src="https://unpkg.com/lightweight-charts/dist/lightweight-charts.standalone.production.js"></script>
    <style type="text/css">
		.orderbook {
			float: left;
			text-align: center;
			width: 180px;
			height: 120px;
			outline: 2px solid #000;
			margin: 5px;
		}

		.ask{
			background-color: #DC143C;
			height: 25px;
			color: white;
		}

		.bid{
			background-color: #6B8E23;
			height: 25px;
			color: white;
		}
	</style>
</head>
<body>
<h2>Значения спреда:</h2>
<script>
	var chart = LightweightCharts.createChart(document.body, { width: 1200, height: 500, timeScale:{
		timeVisible:true, secondsVisible:true}});
	var barSeries = chart.addBarSeries();
	barSeries.setData([
		{% for spread_record in spread_records %}
	    	{ time: {{ spread_record[0] }},  open: {{spread_record[1]}}, high: {{spread_record[2]}}, low: {{spread_record[3]}}, close: {{spread_record[4]}} },
	   	{% endfor %} 	
	]);
</script>
<hr>
<h3>Стаканы сейчас:</h3>

<div class="orderbook">
	<p>Binance</p>
	<div class="ask">
		<p>SELL {{ask_binance}}</p>
	</div>

	<div class="bid">
		<p>BUY {{bid_binance}}</p>
	</div>
</div>


<div class="orderbook">
	<p>Bitmex</p>
	<div class="ask">
		<p>SELL {{ask_bitmex}}</p>
	</div>

	<div class="bid">
		<p>BUY {{bid_bitmex}}</p>
	</div>
</div>

</body>
</html>
