<!DOCTYPE html>
<html>
<head>
    <title>История спреда</title>
    <script src="https://unpkg.com/lightweight-charts/dist/lightweight-charts.standalone.production.js"></script>
</head>
<body>
<h2>Значения спреда:</h2>
<script>
	var chart = LightweightCharts.createChart(document.body, { width: 1200, height: 500, timeScale:{
		timeVisible:true, secondsVisible:true}});
	var lineSeries = chart.addLineSeries();
	lineSeries.setData([
		{% for spread_record in spread_records %}
	    	{ time: {{ spread_record[0] }}, value: {{ spread_record[1] }} },
	   	{% endfor %} 	
	]);
	chart.timeScale().fitContent();
</script>
</body>
</html>
